.logo-img{
    width: 4vw;
    height: auto;
}

.nav-links{
    text-decoration: none;
    color: black;
    /* color:"#6d62ff"; */
    margin-right: 2vw;
}

@media (max-width:768px){
    .logo-img{
        width: 10vw;
    }
}